body {
    padding-top: 0rem;
    background-color: #eae7dc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    color: #8e8d8a;
}

h1, h2, h3 {
    color: #e85a4f;
    text-transform: uppercase;
}

header {
    border-top: 1px double #222222;
    border-bottom: 1px double #222222;
}

article, aside, footer {
    margin: 1em;
}

/* article {
    border-right: 1px double #222222;
    border-left: 1px double #222222;
} */

a {
    color: #e98074;
}

a:hover {
    color: #e85a4f;
    text-decoration: none;
}

footer {
    color: #e85a4f;
}

#current, #background, #future-plans {
    border-left: 1px double #e98074;
    border-bottom: 1px double #e98074;
}


/* Override bootstrap things */
.navbar {
    /* .bg-light uses important and we need to override that. */
    background-color: #eae7dc!important;
    color: #8e8d8a!important;
}

.img-circle {
    border-radius: 50%;
}