body {
    padding-top: 0rem;
    background-color: #eae7dc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    color: #8e8d8a;
}

h1, h2, h3 {
    color: #e85a4f;
    text-transform: uppercase;
    padding-top: 0.25em;
}

header {
    border-bottom: 1px double #e98074;
}

article, aside, footer {
    margin: 1em;
}

/* article {
    border-right: 1px double #222222;
    border-left: 1px double #222222;
} */

a {
    color: #e98074;
}

a:hover {
    color: #e85a4f;
    text-decoration: none;
}

footer {
    color: #e85a4f;
}

#current, #background, #future-plans {
    border-left: 1px double #e98074;
    border-bottom: 1px double #e98074;
}

#container {
    border-left: 1px double #e98074;
    border-bottom: 1px double #e98074;
}

form {
    padding-bottom: 1em;
}

#submit-button {
    color: #8e8d8a;
    border-color: #e98074;
}

#submit-button:hover {
    background-color: #e98074;
    color: white;
}

#submit-button:active {
    background-color: #e85a4f;
    box-shadow: none;
}

#submit-button:focus {
    box-shadow: none;
}

#youtube-video, #dog-pic {
    width: 80%;
    max-width: 868px;
    margin: 1em 10% 1em 10%;

}

#img-circle {
    border-radius: 50%;
}

/* Override bootstrap things */
.navbar {
    /* .bg-light uses important and we need to override that. */
    background-color: #eae7dc!important;
    color: #e98074 !important;
}

nav div .navbar-nav a.active  {
    color: #e85a4fe5 !important;
}

nav div .navbar-nav a {
    color: #e85a4faf !important;
    font-size: 120%;
    text-transform: uppercase;
}

td {
    border-left: 1px solid #e98074;
    padding: 1em;
}

.bottom-row {
    border-bottom: 1px solid #e98074;
}
